<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    

</head>
<body>
    <h1 id="name">Ayush Chakraborty</h1>
    <form action="/text" method="post">
        <input type="text" placeholder="Enter Name" name="Name">
        <button type="submit"> Enter</button>
    </form>
</body>
</html>